.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.actions {
	display: flex;
	gap: 3rem;
}

.actions button {
	width: 8rem;
}

.profileImage {
	width: 20rem;
	height: 20rem;
}

.cardContent {
	display: flex;
	gap: 3rem;
	position: relative;
}

.location {
	display: flex;
	gap: 1rem;
}

.cardInfo h2 {
	margin-top: 0;
}

.PersonalInfo input,
.Education input,
.Skills input,
.Experience input {
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}

.PersonalInfo {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.inputsPersonalInfo {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
}

.about > input,
.educationInputs > input {
	/* margin-top: 1rem; */
	/* margin-right: 1rem; */
}

.educationInputs,
.about,
.skillsInputs,
.experienceInputs {
	display: flex;
	max-width: 48rem;
	flex-wrap: wrap;
	align-items: start;
	align-items: center;
	gap: 1rem;
}

.duration > input {
	margin-right: 1rem;
}

.experienceInputs {
	max-width: 72rem;
}

.educationInputs > button {
	margin-left: auto;
}
