.Onboarding {
	padding: 1rem;
}

.heading {
	display: flex;
	align-items: center;
	gap: 4rem;
	justify-content: space-between;
}

.actions {
	display: flex;
	gap: 2rem;
}

.actions button {
	width: 8rem;
}
