:root {
	--BG-COLOR: #fff7ed;
	--CTA-COLOR: #ff8c38;
	--FONT-COLOR-BLACK: #161616;
	--LINK-COLOR-GRAY: #4d4d4d;
	--FOOTER-BG-COLOR: #252525;
	--FOOTER-COLOR: #aaaaaa;
	--CTA-LT-ORANGE: #ffcc8d;
	--BORDER-LT-GRAY: #d1d5db;
	--FILTER-LT-CREAM: #ffead0;
	--FILTER-ORANGE: #e17654;
	--FILTER-LUXURY: #161616;
	--FILTER-RUGGED: #115e59;
	/* general color */
	--BLACK: #000;
	--WHITE: #fff;
}

html {
	font-size: 62.5%;
	font-family: 'Inter', sans-serif;
}

body {
	max-width: 1280px;
	font-size: 1.6rem;
	padding: 0;
	margin: 0 auto;
	border: 1px solid;
}

.layout{
	display: flex;
	/* flex-direction: column; */
}

/* Header */
.header {
	display: flex;
	align-items: center;
	padding: 3.6rem;
	background: var(--BG-COLOR);
}

.header-logo {
	color: var(--BLACK);
}
.van-icon {
	color: var(--FOOTER-BG-COLOR);
}

.nav {
	margin-left: auto;
	margin-right: 1.5em;
}

.nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 2rem;
}

.nav ul li a,
.styled-link {
	text-decoration: none;
	color: var(--LINK-COLOR-GRAY);
}

.nav ul li a:hover,
.styled-link:hover {
	text-decoration: underline;
	color: var(--FOOTER-BG-COLOR);
}

.active {
	font-weight: 600;
}

.active svg {
	color: var(--FOOTER-BG-COLOR);
	fill: var(--BORDER-LT-GRAY);
}

.header svg {
	min-width: 2.4rem;
}

/* Section - Pages */

.not-found-page {
	min-height: 50vh;
	padding: 2rem;
	display: grid;
	place-content: center;
	max-width: 80rem;
	margin: 0 auto;
	gap: 2rem;
}

.not-found-page h2 {
	font-size: 2.5ch;
	line-height: 1.6em;
}

.btn {
	border: none;
	cursor: pointer;
}

.link-btn {
	text-decoration: none;
	background: var(--FONT-COLOR-BLACK);
	color: var(--BG-COLOR);
	padding: 1rem;
	text-align: center;
	border-radius: 1rem;
	display: inline-block;
	width: 100%;
}

.hover-btn:hover {
	opacity: 0.9;
}

/* Home-Page */
.home-page {
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.46),
			rgba(0, 0, 0, 0.46)
		),
		url('./assets/bg-home.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.home-info {
	padding: 6.5rem 2.6rem;
	color: var(--BG-COLOR);
	display: flex;
	flex-direction: column;
	max-width: 60rem;
	margin: 0 auto;
}

.home-page h2 {
	text-shadow: 1px 1px 4px var(--FOOTER-BG-COLOR);
	font-size: 3.6rem;
	font-weight: 800;
}

.home-page p {
	margin-top: 2.2rem;
	font-weight: 500;
	line-height: 1.8em;
}

.home-page .link-btn {
	max-width: 72rem;
	background: var(--CTA-COLOR);
	margin-top: 5rem;
	font-weight: 700;
}

/* About Page */

.about-info {
	padding: 5rem 2.5rem;
	width: 70%;
	margin: 0 auto;
}

.about-info h2 {
	font-size: 3.2rem;
	line-height: 3.8rem;
	font-weight: 700;
}

.about-info p {
	margin-top: 3rem;
	line-height: 2.2rem;
	font-weight: 500;
}

.banner {
	height: 40rem;
}

.banner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 1/1;
}

.cta-wrapper {
	padding: 3rem 2.5rem;
	background: var(--CTA-LT-ORANGE);
	border-radius: 5px;
	margin-top: 5.5rem;
}

.cta-wrapper h3 {
	max-width: 54rem;
	font-size: 2.4rem;
	line-height: 3rem;
	font-weight: 700;
}

.cta-wrapper .link-btn {
	max-width: 18rem;
	margin-top: 2.5rem;
}

/* vans-page */
.vans-page {
	padding: 5.5rem 2.5rem;
}

/* filter vans-page */

.vans-page .filters {
	margin: 2.2rem 0;
	display: flex;
}

.vans-page .btn {
	padding: 6px;
	text-align: center;
	background: var(--FILTER-LT-CREAM);
	color: var(--LINK-COLOR-GRAY);
	border: none;
	margin-right: 2rem;
	width: 10rem;
	border-radius: 5px;
}

.vans-page .filters .btn:hover,
.vans-page .filters .btn.selected {
	color: var(--FILTER-LT-CREAM);
	border: none;
	outline: none;
}

.vans-page .filter-simple:hover,
.filter-simple.selected {
	background: var(--FILTER-ORANGE);
}

.vans-page .filter-rugged:hover,
.filter-rugged.selected {
	background: var(--FILTER-RUGGED);
}

.vans-page .filter-luxury:hover,
.filter-luxury.selected {
	background: var(--FILTER-LUXURY);
}

.vans-page .filters .filter-clear {
	background: transparent;
	color: var(--LINK-COLOR-GRAY);
	text-decoration: underline;
}

.vans-page .filters .filter-clear:hover {
	color: var(--FOOTER-BG-COLOR);
}

.vans-page h2 {
	margin: 2.5rem 0;
	font-size: 3.2rem;
	font-weight: 700;
}

.vans-container {
	margin-top: 5.5rem;
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(23rem, 1fr)
	);
	gap: 2rem;
}

@media (min-width: 530px) {
	.van {
		max-width: 23rem;
	}
}

.van-info {
	display: flex;
	margin-top: 1rem;
	align-items: flex-start;
}
.van-price {
	margin-left: auto;
}

.van img {
	border-radius: 5px;
}

.van-type {
	padding: 0.5rem 1rem;
	text-align: center;
	max-width: 10rem;
	font-weight: 600;
	border-radius: 5px;
	text-transform: capitalize;
	color: var(--FILTER-LT-CREAM);
}

/* Van Detail */

.van-detail-page {
	padding: 4rem 2.5rem;
}

.van-detail-page .van {
	max-width: 50rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

.van-detail-page .van-price {
	margin-left: 0;
}

.van-detail-page .van .link-btn {
	background: var(--CTA-COLOR);
	font-weight: 600;
}

.back-vans-link {
	display: flex;
	align-items: center;
	gap: 1rem;
	max-width: 25rem;
}
.arrow-left {
	display: inline;
	width: 1rem;
}

/* Login Page */

.login-page {
	padding: 5rem 2.5rem;
	background: var(--BG-COLOR);
}

.login-page h2 {
	text-align: center;
	font-size: 3.2rem;
	font-weight: 700;
}

.login-form {
	display: grid;
	max-width: 50rem;
	margin: 4.8rem auto;
}

.login-form .login-input {
	line-height: 2.4rem;
	padding: 1rem 1.2rem;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	outline: none;
	border: 1px solid var(--BORDER-LT-GRAY);
	color: var(--LINK-COLOR-GRAY);
}

.login-form .input:first-child {
	border-radius: 6px 6px 0px 0px;
}

.login-form .input:nth-of-type(2) {
	border-radius: 0px 0px 6px 6px;
}

.login-form .btn {
	background: var(--CTA-COLOR);
	margin-top: 2.2rem;
	font-weight: 700;
	padding: 1.2rem;
}

.disabled-btn {
	opacity: 0.5;
}

.disabled-btn:hover {
	cursor: not-allowed;
}

.login-page .re-direct {
	margin-top: 4.8rem;
	text-align: center;
	font-weight: 700;
	line-height: 2.4rem;
}

.login-page .re-direct a {
	color: var(--CTA-COLOR);
}

/* Footer */
.footer {
	background: var(--FOOTER-BG-COLOR);
	color: var(--FOOTER-COLOR);
	padding: 2.5rem;
	text-align: center;
}
